<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Stephan L. Smith CPA
     </title>
     <meta name="author" content="Stephan Smith" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="http://feeds2.feedburner.com/ssmith1944" rel="alternate" title="Stephan Smith" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
	 
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31042547-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>
    <a href="http://github.com/ssmith1944"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub" /></a>

    <div id="site">
      <a id="subscribe" href="http://feeds2.feedburner.com/ssmith1944"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>

      <div id="search_area" style="display: none">
        <label for="search" style="display: none">Search</label>
        <img src="http://www.famfamfam.com/lab/icons/silk/icons/cancel.png" alt="X"/>
        <input id="search" />
      </div>
      
      <h1><a href="/">Stephan Smith - CPA</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>Me</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="/">Stephan Smith</a> / <span class="nickname">ssmith1944</span></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:stephanlsmithCPA@gmail.com">stephanlsmithCPA@gmail.com</a></dd>

          <dt>Telephone</dt>
          <dd class="tel">+1 757 822 3574</a></dd>

        </dl>
        <h3>And then some</h3>
        <ul id="profiles">

          <li><a href="http://github.com/ssmith1944">GitHub</a></li>
		  <li><a href="http://www.linkedin.com/pub/stephan-smith/50/518/9b1">LinkedIn</a></li>

        </ul>

         <div class="adr">
          <span class="locality">Norfolk</span>
          <span class="region">VA</span>
          <span class="postal-code">23517</span>
          
          <span class="country-name">USA</span>

         </div>
      </div>
      
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}




  </body>
</html>
